.first-page-body{
    position: relative;
    background-color: $blue;
    height: 100vh;
}
.center-logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: enter 1.5s ease-out;
}
@keyframes enter {
    0%{
        top:30%;
    }
    100%{
        top: 50%;
    }
}