.main-footer{
    border-top:1px solid rgba(1, 22, 39,0.2);
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDFFFC;
    .contact-us{
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        li{
            float: left;
            a{
                display: inline-block;
                color: $blue;
                text-align: center;
                padding: 0rem 1rem;
                text-decoration: none;
            }
        }
    }
}